/* idk man */

body {
    font-family: Helvetica;
    margin: 0;
    background-color: hsl(39, 16%, 57%);
    color: darkslategray;
}

h1,
h2,
h3 {
    color: rgb(500, 100, 0);
}

strong {
    /* this styles bold text */
    color: #800000;
}

nav {
    font-size: 25px;
    color: darkolivegreen;
    padding: 0.5em 10px;
}

/* unvisited link */
a:link {
    color: var(--vivid);
  }

/* visited link */
a:visited {
color: var(--vivid);
}

/* mouse over link */
a:hover {
color: var(--deepblu);
}

/* selected link */
a:active {
color: var(--gold);
}
