/* idk man */

body {
    font-family: Helvetica;
    margin: 0;
    background-color: hsl(0, 0%, 0%);
    color: darkslategray;
    margin: auto;
    padding-top: 0px;
}

h1,
h2,
h3 {
    color: rgb(500, 100, 0);
}

strong {
    /* this styles bold text */
    color: #800000;
}

nav {
    font-size: 25px;
    color: darkolivegreen;
    padding: 0.5em 10px;
    margin-top:5px;
    border-style: dashed;
    border-color: white;
    border-width: 0px;
    border-radius: 0px;
    text-align: left;
}

/* unvisited link */
a:link {
    color: var(--vivid);
    text-decoration: underline;
  }

/* visited link */
a:visited {
color: var(--vivid);
}

/* mouse over link */
a:hover {
color: var(--deepblu);
}

/* selected link */
a:active {
color: var(--gold);
}
